services:
  db:
    image: postgres:15-alpine

    container_name: storage_db_container

    ports:
      - "${DB_PORT}:5432"

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - postgres_data:/var/lib/postgresql/data

    restart: always

    env_file:
      - .env

volumes:
  postgres_data: